
body{
    margin: 0;
    background-image: url("IMAGES/london.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-kerning: auto;
    font-size: 1vw;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: normal;
}

#test{
    width: 100%;
    height: 300px;
    background-color: purple;
}



